@media (max-width: 1800px) {
    #movies {
        display: grid;
        grid-template-columns: auto auto;
      }
}
@media (max-width: 400px) {
  #movies {
      display: grid;
      grid-template-columns: auto;
    }
  #movieSection {
    width: 100%;
    margin-left: 0px;

  }
}