*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(40, 106, 150),
    rgb(44, 62, 80)
  );
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
::placeholder {
  color: black;
}
h1 {
  background-color: aliceblue;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: darkturquoise;
  text-align: center;
}

#searchBtn {
  padding: 10px;
  width: 65%;
  line-height: 20px;
  margin: 10px 0;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 1.3em;
  color: black;
}
#textArea {
  justify-content: center;
  height: 50px;
  width: 65%;
  border-radius: 10px;
  border: 0px solid;
  padding-left: 50px;
  outline: none;
  font-size: 1.3em;
}
#movies {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
#movieSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30rem;
  height: auto;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 10%),
    0px 2px 2px 0px rgb(0 0 0 / 10%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  padding: 1.5rem 2rem;
  margin-left: 22px;
  margin-bottom: 32px;
  margin-top: 40px;
  color: white;
 
}
#logo {
  width: 50%;
  padding: 50px;
}
#titleMovie {
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

#overviewMovie {
  text-align: justify;
  padding: 2rem;
  line-height: 1.5em;
  position: relative;
  letter-spacing: normal;
}
#dateMovie {
  padding: 20px;
}
#notaMovie {
  background-color: darkturquoise;
  border-radius: 20%;
  width: 50px;
  height: 50px;
  padding: 1rem;
  
}
