*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(40, 106, 150),
    rgb(44, 62, 80)
  );
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 4%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
::placeholder {
  color:rgb(40, 106, 150)
}
h1 {

  background-color:none;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: darkturquoise;
  margin-left: 7rem;
  padding-bottom: 2rem;
}

#searchBtn {

  height: 46px;
  padding: 10px 26px;
  border: none;
  background-color: teal;
  border-radius: 30px;
  color: #fff;
  justify-content: center;
}
#textArea {
  justify-content: center;
  height: 46px;
  width: 55%;
  border:none;
  border-radius: 30px;
  padding-left: 20px;
  outline: none;
  font-size: 1.3em;
  
  
}
#movies {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
#movieSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30rem;
  height: auto;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 10%),
    0px 2px 2px 0px rgb(0 0 0 / 10%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  padding: 1.5rem 2rem;
  margin-left: 22px;
  margin-bottom: 32px;
  margin-top: 40px;
  color: white;
 
}
#logo {
  width: 20rem;
  padding: 50px;
}
#titleMovie {
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

#overviewMovie {
  text-align: justify;
  padding: 2rem;
  line-height: 1.5em;
  position: relative;
  letter-spacing: normal;
}
#dateMovie {
  padding: 20px;
}
#notaMovie {
  background-color: darkturquoise;
  border-radius: 20%;
  width: 50px;
  height: 50px;
  padding: 1rem;
}
.typeMovies {
  display: flex;
  justify-content: center;
  flex-direction: row;
  outline: none;
  padding: 0.1rem;
  background-color:white;
  
  
}
#popularBtn {
  font-size: 15px;
  background-color:white;
  color: white;
  width: 30rem;
  border: none;
  color:rgb(40, 106, 150);
}
#popularBtn:hover {
  color: black;
  text-decoration:underline;
}
#topRatedBtn {
  background-color: white;
  border: none;
  color: black;
  font-size: 13px;
  padding: 12px;
  outline: none;
  width: 30rem;
  font-size:15px;
  color:rgb(40, 106, 150);
}
#topRatedBtn:hover {
  color: black;
  text-decoration:underline;
  
}